/*HTML Elements*/
table {
    border-collapse: collapse;
    border-style: none;
    margin: 1em;
    max-width: 800px;
}

tfoot {
    text-align: center;
    margin-bottom: 0;
}

body {
    margin: 0;
}

h1 {
    text-align: center;
}

a {
    color: inherit;
}

ul {
    padding-left: 1em;
}

ol {
    padding-left: 2em;
}


/*HTML Classes*/
.mainbody-styles {
    margin: 0;
    background-color: #27374D;
    color: #DDE6ED;
    font-family: monospace;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: large;
    padding: 1em;
    /*    text-align: center;*/
}

.mainbody-headerstyles {
    text-decoration-line:underline;
}

.profile-image {
    width: 200px;
    border-radius: 25px;
}

.display-image {
    max-width: 100%;
    max-height: 450px;
    border-radius: 25px;
}